:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --scndry-font: 'Raleway', sans-serif;

  /* text colors */
  --maint-txt-cl: #212121;
  --scnd-txt-cl: #757575;
  --accent-txt-cl: #2196f3;
  --wht-txt-a60-cl: rgba(255, 255, 255, 0.6);

  /* bg-colors */
  --dark-bg-cl: #2f303a;
  --mid-bg-cl: #f5f4fa;
  --wht-bg-cl: #ffffff;
  --wht-mid-bg-cl: #e5e5e5;
  --focus-btn-cl: #188ce8;
  --black-cl: #000000;
  --absolute0bg-cl: #ececec;
  --ee-bg-cl: #eeeeee;

  /* others */
}

body {
  font-family: var(--main-font);
  color: var(--maint-txt-cl);
  background-color: var(--wht-bg-cl);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* reset styles */
ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--maint-txt-cl);
}

/**
  |============================
  | Header section
  |============================
*/
.logo-link {
  font-family: var(--scndry-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  color: var(--accent-txt-cl);
}
.logo-accent {
  color: var(--maint-txt-cl);
}
.logo-accent-ft {
  color: var(--wht-bg-cl);
}
.header-link {
  font-weight: 500;
  line-height: calc(16 / 12);
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus,
.link-phone:hover,
.link-phone:focus {
  color: var(--accent-txt-cl);
}
.heaader-link-current {
  color: var(--accent-txt-cl);
}

.link-phone {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--scnd-txt-cl);
}

/**
  |============================
  | Hero section
  |============================
*/
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  color: var(--wht-bg-cl);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-txt-cl);
  color: var(--wht-bg-cl);
  cursor: pointer;
  border: 0;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--focus-btn-cl);
}
.Hero {
  background-color: var(--dark-bg-cl);
}
/**
  |============================
  | White section
  |============================
*/
.work-info {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.work-info-txt {
  line-height: calc(24 / 14);
  color: var(--scnd-txt-cl);
}

/* Work pictures section */
.work-pic {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

/**
  |============================
  | Team section
  |============================
*/
.our-team {
  background-color: var(--mid-bg-cl);
}

.tm-cards {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.tm-crd-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}
.tm-crd-wrk {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--scnd-txt-cl);
}

/**
  |============================
  | Footer section
  |============================
*/
.footer {
  background-color: var(--dark-bg-cl);
}
address {
  font-style: oblique 0deg;
}

.map {
  line-height: calc(24 / 14);
  color: var(--wht-bg-cl);
}
.ft-contct {
  font-family: var(--main-font);
  line-height: calc(24 / 14);
  color: var(--wht-txt-a60-cl);
}

.tm-crd {
  background-color: var(--wht-bg-cl);
}

/**
  |============================
  | Second Page buttons
  |============================
*/
.gps-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  background-color: var(--mid-bg-cl);
  color: var(--maint-txt-cl);
  cursor: pointer;
  border: 0;
}
.gps-btn:hover,
.gps-btn:focus {
  background-color: var(--accent-txt-cl);
  color: var(--wht-bg-cl);
}

/* Portfolio section */

.prtf-cards-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.prtf-card-projct {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--scnd-txt-cl);
}
