:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --scndry-font: 'Raleway', sans-serif;

  /* text colors */
  --maint-txt-cl: #212121;
  --scnd-txt-cl: #757575;
  --accent-txt-cl: #2196f3;

  /* bg-colors */
  --dark-bg-cl: #2f303a;
  --mid-bg-cl: #f5f4fa;

  /* others */
}

body {
  font-family: var(--main-font);
  color: var(--maint-txt-cl);
}

/* reset styles */
ul {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--maint-txt-cl);
}

/**
  |============================
  | Header section
  |============================
*/
.logo-link {
  font-family: var(--scndry-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  color: var(--accent-txt-cl);
}
.logo-accent {
  color: var(--maint-txt-cl);
}
.logo-accent-ft {
  color: #ffffff;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus,
.link-phone:hover,
.link-phone:focus {
  color: var(--accent-txt-cl);
}
.heaader-link-current {
  color: var(--accent-txt-cl);
}

.link-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--scnd-txt-cl);
}

/**
  |============================
  | Hero section
  |============================
*/
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-txt-cl);
  color: #ffffff;
  cursor: pointer;
  border-width: 0;
}
.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
}
.Hero {
  background-color: var(--dark-bg-cl);
}
/**
  |============================
  | White section
  |============================
*/
.work-info {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.work-info-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--scnd-txt-cl);
}

/* Work pictures section */
.work-pic {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/**
  |============================
  | Team section
  |============================
*/
.our-team {
  background-color: var(--mid-bg-cl);
}

.tm-cards {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.tm-crd-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.tm-crd-wrk {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
letter-spacing: 0.03em;
color: var(--scnd-txt-cl);
}


/**
  |============================
  | Footer section
  |============================
*/
.footer {
  background-color: var(--dark-bg-cl);
}
address {
  font-style: oblique 0deg;
}

.map {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.ft-contct {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  
}

.tm-crd {
  background-color: #ffffff;
}

/**
  |============================
  | Second Page buttons
  |============================
*/
.gps-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  color: var(--maint-txt-cl);
  cursor: pointer;
  border-width: 0;
}
.gps-btn:hover,
.gps-btn:focus {
  background-color: var(--accent-txt-cl);
  color: #ffffff;
}

/* Portfolio section */

.prtf-cards-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.prtf-card-projct {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--scnd-txt-cl);
}